<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net40-Client" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net40-Client" />
  <package id="Common.Logging.NLog20" version="3.0.0" targetFramework="net40-Client" />
  <package id="NLog" version="3.2.0.0" targetFramework="net40-Client" />
  <package id="odp.net.x86" version="112.3.20" targetFramework="net40-Client" />
</packages>